{% extends 'base.html' %} {% block content %}
<div class="container text-center">
  <span class="lead">
    Welcome to your panel admin. If you want to add a book,just follow
    instructions
  </span>
  <div class="row">
    <div class="col"></div>
    <div class="col-sm">
      <form action="/add" method="POST">
        {{ csrf_field }}
        <div class="form-group">
          <input class="form-control" name="title" type="text" placeholder="Add Book title" />
        </div>
        <div class="form-group">
          <textarea class="form-control" name="description" type="text" placeholder="Description"></textarea>
        </div>
        <div class="form-group has-item-centered">
          <!--Add action-->
          <button class="btn btn-outline-success">
            Add Book
          </button>
        </div>
      </form>
      {% include 'helpers/messages.html' %}
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <!--Books card-->
    {% for book in books %}
    <div class="col-3 card" style="width: 18rem;">
      <article>
        <div class="card-body">
          <h3 class="card-title">{{ book.title }}</h3>

          <p class="card-text">
            <br />
            {{ book.description }}
          </p>
          <div>
            <!--Update Action-->
            <a class="btn btn-info" href="/{{ book.id }}/update">
              <span class="">Update
                <i class="fas fa-retweet" aria-hidden="true"></i>
              </span>
            </a>
            <!--Delete Action-->
            <a class="btn btn-danger" href="/{{ book.id }}/delete">
              <span class="">
                Delete
                <i class="fas fa-heart" aria-hidden="true"></i>
              </span>
            </a>
          </div>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
</div>
<footer class="footer container-fluid">
  <p class="text-center">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#">Kolawole Mangabo</a>
  </p>
</footer>
{% endblock %}